* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 24px 64px 23px;
  color: #162542;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  padding: 11px 14.5px 11px 13.5px;
  border: none;
  border-radius: 8px;
  background-color: #e8eff2;
}
/* ****main */
main {
  overflow-x: hidden;
}

/* ***typemaster-keyboard-section */

/* *typemaster-keybord-heading-box */
.typemaster-keybord-heading-box {
  padding: 0 24px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;

  text-transform: uppercase;
}

.heading-txt {
  font-weight: 500;
  color: #7b8bad;
  margin: 32px 0;
}

.release-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button2 {
  background-color: #f16718;
  color: #fff;
}

.release {
  font-weight: 700;
}

.typemaster-keyboard-img-box {
  /* margin: 64px 0 24px 24px;*/
}
.img-keyboard-tablet,
.img-keyboard-desktop {
  display: none;
}
.typemaster-keyboard-img-box img {
  max-width: 100%;
  border-radius: 20px;
  margin: 64px 0 24px 24px;
  border-radius: 20px;
}

.pictures {
  display: flex;
  gap: 30px;
  margin-bottom: 72px;
}

.first-img {
  width: 129px;
  height: 193px;
  margin-left: -22px;
  background: #f16718;
  border-radius: 20px;
  overflow: hidden;
}
.first-img img {
  display: block;
  width: 100%;

  mix-blend-mode: multiply;
  opacity: 0.75;
}

.second-img {
  width: 220px;
  height: 193px;
}
.second-img img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
}
.vireless-keyboard-info {
  padding: 0 24px;
}

.vireless-keyboard-info-txt {
  font-weight: 500;
  text-align: center;
}

/* ** 2 section*/
.section2 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0 24px;
  margin: 111px 0 96px 0;
}
.properties {
  text-align: center;
}
.icon-box {
  width: 65px;
  height: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #f16718;
  border-radius: 16px;
  margin: auto;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin: 48px 0 24px 0;
}

/* *** footer */
footer {
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

/* tablet responsiv design*/

@media (min-width: 768px) {
  .typemaster-keyboard-section {
    display: flex;
    align-items: center;
  }

  .img-keyboard-mobile {
    display: none;
  }
  .img-keyboard-tablet {
    display: block;
  }

  .typemaster-keyboard-img-box {
    margin-left: 69px;
  }
  .typemaster-keyboard-img-box img {
    max-width: 478px;
    margin: 0;
  }
  .img-keyboard-tablet {
    max-width: 478px;
  }
}
